langchain_core
langgraph
langchain
openai
faiss-cpu
requests
python-dotenv
langchain_community
langchain_openai
langchain_groq
langchain_huggingface
fastapi
uvicorn
PyPDF2
unstructured
tiktoken
duckduckgo_search
aisuite
crewai
crewai_tools
pydantic
streamlit
streamlit_chat
gradio
requests 
bs4
langchain_chroma

